 <!-- Add phone screen -->
<div id="add-phone-form" class="dialog-box">
    <h1>Add Phone</h1>
    <p>
        <label for="personName">Name:</label>
        <input type="text" id="personName">
    </p>
    <p>
        <label for="phoneNumber">Number:</label>
        <input type="text" id="phoneNumber">
    </p>
    <p class="buttons">
        <a id="add-phone-menu" href="#" class="button">Add</a>
        <a id="cancel-phone-menu" href="#" class="button">Cancel</a>
    </p>
</div>
<br />