 <!-- Delete phone screen -->
<div id="delete-phone-form" class="dialog-box">
    <h1>Confirm Delete Phone?</h1>
    <p>
        <label for="personName">Name:</label>
        <input type="text" id="personName" disabled="disabled" />
    </p>
    <p>
        <label for="phoneNumber">Number:</label>
        <input type="text" id="phoneNumber" disabled="disabled"/>
    </p>
    <p class="buttons">
        <a id="delete-confirm-btn" href="#" class="button">Delete</a>
        <a id="delete-cancel-btn" href="#" class="button">Cancel</a>
    </p>
</div>
<br />