 <!-- Edit user profile screen -->
<div id="edit-profile-form" class="dialog-box">
    <h1>Edit Profile</h1>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" value="">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password">
    </p>
    <p>
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" value="">
    </p>
    <p class="buttons">
        <a id="edit-user-confirm-btn" href="#" class="button">Edit</a>
        <a id="edit-user-cancel-btn" href="#" class="button">Cancel</a>
    </p>
</div>