#wrapper {
    width: 600px;
    margin: 40px auto;
}

h2 {
    text-align: center;
    color: #1e62d0;
}

table {
    width: 90%;
    border-collapse: collapse;
    padding: 0;
}

table, td, th {
    border: 1px solid #1e62d0;
}

input {
    height: 100%;
    display: inline-block;
    position: relative;
}

thead {
    background: #1e62d0;
    color: white;
}

tfoot > tr {
    background: #1e62d0;
}

button {
    color: #ffffff;
    padding: 0px 10px;
}

    button:hover {
        background-color: #1e62d0;
    }

    button:active {
        position: relative;
        top: 1px;
    }
