<div ng-style="{{styles.tigerContainer}}">
    <div ng-style="{{styles.tigerInformationBox}}">
        <h2 ng-style="{{styles.tigerHeader}}">Tiger</h2>
        <div>
            <strong>Name: </strong> {{tiger.name}}
        </div>
        <div>
            <strong>Born: </strong> {{tiger.born}}
        </div>
        <div>
            <strong>Birth date: </strong> {{tiger.birthDate}}
        </div>
        <div>
            <strong>Live: </strong> {{tiger.live}}
        </div>
    </div>
    <div ng-style="{{styles.tigerInformationBox}}">
        <img ng-src="{{tiger.image}}" ng-style="{{styles.tigerImg}}" src="" alt="">
    </div>
</div>