#wrapper > div {
    border: 1px solid #999;
}


#all-students > div, #schools > div {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
