USE [master]
GO

/****** Object:  Database [Ads]    Script Date: 12-02-2015 10:41:31 ******/
CREATE DATABASE [Ads]
GO

USE [Ads]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Ads]    Script Date: 12-02-2015 10:41:31 ******/
CREATE TABLE [dbo].[Ads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[ImageDataURL] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](128) NOT NULL,
	[CategoryId] [int] NULL,
	[TownId] [int] NULL,
	[Date] [datetime] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Advertisements] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

/****** Object:  Table [dbo].[AdStatuses]    Script Date: 12-02-2015 10:41:31 ******/
CREATE TABLE [dbo].[AdStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AdStatuses] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12-02-2015 10:41:31 ******/
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12-02-2015 10:41:31 ******/
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED ([UserId] ASC,[RoleId] ASC)
)
GO

/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12-02-2015 10:41:31 ******/
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TownId] [int] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

/****** Object:  Table [dbo].[Categories]    Script Date: 12-02-2015 10:41:31 ******/
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

/****** Object:  Table [dbo].[Towns]    Script Date: 12-02-2015 10:41:31 ******/
CREATE TABLE [dbo].[Towns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Towns] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

/****** Insert Ads table data.    Script Date: 12-02-2015 10:41:31 ******/
SET IDENTITY_INSERT [dbo].[Ads] ON 
GO
INSERT [dbo].[Ads] ([Id], [Title], [Text], [ImageDataURL], [OwnerId], [CategoryId], [TownId], [Date], [StatusId]) VALUES (1, N'Just a Joke', N'I sell my free time. 15 EUR / hour', NULL, N'956b34b3-d4dc-4601-a248-9bc7a6723611', NULL, NULL, CAST(N'2014-12-24 23:53:17.000' AS DateTime), 3)
GO
SET IDENTITY_INSERT [dbo].[Ads] OFF
GO

/****** Insert AdStatuses table data.    Script Date: 12-02-2015 10:41:31 ******/
SET IDENTITY_INSERT [dbo].[AdStatuses] ON 
GO
INSERT [dbo].[AdStatuses] ([Id], [Status]) VALUES (1, N'Inactive')
GO
INSERT [dbo].[AdStatuses] ([Id], [Status]) VALUES (2, N'Waiting Approval')
GO
INSERT [dbo].[AdStatuses] ([Id], [Status]) VALUES (3, N'Published')
GO
SET IDENTITY_INSERT [dbo].[AdStatuses] OFF
GO

/****** Insert AspNetUsers table data.    Script Date: 12-02-2015 10:41:31 ******/
INSERT [dbo].[AspNetUsers] ([Id], [Name], [TownId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName])
VALUES (N'10216432-a65b-4a15-951f-64b3b93002ce', N'Kiro', 7, N'kiro@gmail.com', 0, N'AC3cAK/ElKS5q2nRrCRsvFjix472mmQR79NF3TW12+k9I5PhbIKDiTuhVv5oyik6HA==', N'd5d36a50-dbff-407a-9e91-56c82957bd36', N'+359 885 362715', 0, 0, NULL, 0, 0, N'kiro')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Name], [TownId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName])
VALUES (N'39b7333d-664b-428d-9e11-4cde699d5e5e', N'Nakov', NULL, N'nakov@nakov.com', 0, N'ALdvLiZVwCsJ/3aP5us58qoJMjE2LvItvUd/q5Xtw1GiD8A22+2t5tNRa1gulsSxbQ==', N'7288e8a1-dcde-46f4-98e7-3dce011f3e75', NULL, 0, 0, NULL, 0, 0, N'nakov')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Name], [TownId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName])
VALUES (N'6f8364ff-c364-4a98-bb3e-beec1f9ff38a', N'Maria', 8, N'maria@gmail.com', 0, N'AIBBzxBuh6AmYU2pxWjKvD3t+bOy0HUjE4ED8hqXOOyzwNXoRHi24B7i849GpZ3FZw==', N'0992e6d7-873b-488a-9afc-17037fc13d85', N'+359 891 285429', 0, 0, NULL, 0, 0, N'maria')
GO

/****** Insert AspNetRoles table data.    Script Date: 12-02-2015 10:41:31 ******/
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'f23debf9-96e9-4250-9bc0-e0bd42612ade', N'Administrator')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0b0682ca-c6fa-4476-82a6-6efb2befed93', N'Agent')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'177691c8-90f4-447d-9067-8b3c1a3bb9b0', N'Partner')
GO

/****** Insert AspNetUserRoles table data.    Script Date: 12-02-2015 10:41:31 ******/
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'10216432-a65b-4a15-951f-64b3b93002ce', N'177691c8-90f4-447d-9067-8b3c1a3bb9b0')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'39b7333d-664b-428d-9e11-4cde699d5e5e', N'177691c8-90f4-447d-9067-8b3c1a3bb9b0')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'39b7333d-664b-428d-9e11-4cde699d5e5e', N'f23debf9-96e9-4250-9bc0-e0bd42612ade')
GO

/****** Insert Categories table data.    Script Date: 12-02-2015 10:41:31 ******/
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Cars')
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Electronics')
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Properties')
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO

/****** Insert Towns table data.    Script Date: 12-02-2015 10:41:31 ******/
SET IDENTITY_INSERT [dbo].[Towns] ON 
GO
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (1, N'Sofia')
GO
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (2, N'Plovdiv')
GO
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (3, N'Varna')
GO
SET IDENTITY_INSERT [dbo].[Towns] OFF
GO

/****** Object:  Index [IX_CategoryId]    Script Date: 12-02-2015 10:41:31 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Ads]
([CategoryId] ASC)
GO

/****** Object:  Index [IX_OwnerId]    Script Date: 12-02-2015 10:41:31 ******/
CREATE NONCLUSTERED INDEX [IX_OwnerId] ON [dbo].[Ads]
([OwnerId] ASC)
GO

/****** Object:  Index [IX_TownId]    Script Date: 12-02-2015 10:41:31 ******/
CREATE NONCLUSTERED INDEX [IX_TownId] ON [dbo].[Ads]
([TownId] ASC)
GO

/****** Object:  Index [RoleNameIndex]    Script Date: 12-02-2015 10:41:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
([Name] ASC)
GO

/****** Object:  Index [IX_RoleId]    Script Date: 12-02-2015 10:41:31 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
([RoleId] ASC)
GO

/****** Object:  Index [IX_UserId]    Script Date: 12-02-2015 10:41:31 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
([UserId] ASC)
GO

/****** Object:  Index [IX_TownId]    Script Date: 12-02-2015 10:41:31 ******/
CREATE NONCLUSTERED INDEX [IX_TownId] ON [dbo].[AspNetUsers]
([TownId] ASC)
GO

/****** Object:  Index [UserNameIndex]    Script Date: 12-02-2015 10:41:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
([UserName] ASC)
GO

/****** Create integrity constraints.    Script Date: 12-02-2015 10:41:31 ******/
ALTER TABLE [dbo].[Ads] WITH CHECK 
ADD CONSTRAINT [FK_Ads_AdStatuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[AdStatuses] ([Id])
GO

ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_AdStatuses]
GO

ALTER TABLE [dbo].[Ads]  WITH CHECK 
ADD CONSTRAINT [FK_dbo.Advertisements_dbo.AspNetUsers_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.AspNetUsers_OwnerId]
GO

ALTER TABLE [dbo].[Ads]  WITH CHECK
ADD CONSTRAINT [FK_dbo.Advertisements_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO

ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.Categories_CategoryId]
GO

ALTER TABLE [dbo].[Ads]  WITH CHECK 
ADD CONSTRAINT [FK_dbo.Advertisements_dbo.Towns_TownId] FOREIGN KEY([TownId])
REFERENCES [dbo].[Towns] ([Id])
GO

ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.Towns_TownId]
GO

ALTER TABLE [dbo].[AspNetUserRoles] WITH CHECK
ADD CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO

ALTER TABLE [dbo].[AspNetUserRoles] WITH CHECK
ADD CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO

ALTER TABLE [dbo].[AspNetUsers] WITH CHECK
ADD CONSTRAINT [FK_dbo.AspNetUsers_dbo.Towns_TownId] FOREIGN KEY([TownId])
REFERENCES [dbo].[Towns] ([Id])
GO

ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Towns_TownId]
GO

USE [master]
GO
