.wraper {
    width: 600px;
    margin: 40px auto;
}

h2 {
    text-align: left;
}

ul {
    width: 70%;
    margin: auto;
}

.country {
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
}

a.button, #add-country-button {
    color: #6e6e6e;
    font: bold 8px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    margin-right: 10px;
}

a.delete {
    background: url(http://cssdeck.com/uploads/media/items/5/5Fm069k.png) 10px -61px no-repeat #f3f3f3;
    padding-left: 30px;
}
